<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang = "en">
  <head>
    <meta http-equiv = "Content-Type" content = "text/html;charset = utf-8" />
    <link rel = "Shortcut Icon" href = "{{ url_for('static', filename = 'shortcut.ico') }}"/>
    <link rel = "stylesheet" href = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css"/>
    <style>
      .form-group.required .control-label:after {
      content:" *";
      color:red;
      }
    </style>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src = "https://www.google.com/recaptcha/api.js"></script>
    <title>Appointment Scheduler</title>
  </head>
  <body>
    <nav class = "navbar navbar-inverse">
      <div class = "container-fluid">
        <div class = "navbar-header">
          <a class="navbar-brand" href="{{ params.URL }}">Appointment Scheduler</a>
        </div>
      </div>
    </nav>
    <div class = "container">
      {% block body %}{% endblock %}
    </div>
    <footer>
    <hr/>
      <center>
        <p>Application design
          <script type = "text/javascript"> 
            document.write("&copy; " + (new Date()).getFullYear());
          </script>
          <a href = "http://www.swamiiyer.net/">Swami Iyer</a></p>
      </center>
    </footer>
  </body>
</html>
